html,body,.container,h1,h2,h3,div,a,p{
	margin: 0;
	padding: 0;
}

html,body{
	width:100%;
	height:100%;
}
.container{
	height:100%;
	/* position: relative; */
}
.canvas{
	width:80%;
	height:800px;
	float: left;
}
.others{
	width:20%;
	height:200px;
	float: left;
	position:sticky;
	top:0;
}
#showSroll{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font:black;
}

.main-items{
	position: absolute;
	width:416px;
	left: 30px;
	top:300px;

}

.item-head{
	margin-top: 33px;
	height:416px;
}

svg,g{
	width:100%;
	height:100%;
}

/* .wheel-g{
	position:fixed;
	width: 400px;
	height: 400px;
} */

.wheel-img{
	position:fixed;
	width: 600px;
	height: 600px;
	transform-origin:0,0;

}

.textbox{
	transform-origin: 0ch 60vh;
	position: absolute;
}

.wheel{
	stroke: black;
	stroke-width: 2pt;
	fill:beige;
	transform-origin: 0,50%;
}

/* @media screen and (max-width:760px){
	.container{

	}

} */